<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

	<session-factory>

		<!-- Database Connection -->
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:postgresql://localhost:5432/dryfruit_db
		</property>

		<property name="hibernate.connection.username">
			postgres
		</property>

		<property name="hibernate.connection.password">
			root
		</property>

		<!-- SQL -->
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>

		<!-- Schema -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- Entity Mappings -->
		<mapping class="com.DryFruitHouse.entity.User"/>
		<mapping class="com.DryFruitHouse.entity.Category"/>
		<mapping class="com.DryFruitHouse.entity.Product"/>
		<mapping class="com.DryFruitHouse.entity.Address"/>
		<mapping class="com.DryFruitHouse.entity.Cart"/>
		<mapping class="com.DryFruitHouse.entity.CartItem"/>
		<mapping class="com.DryFruitHouse.entity.Order"/>
		<mapping class="com.DryFruitHouse.entity.OrderItem"/>
		<mapping class="com.DryFruitHouse.entity.Payment"/>

	</session-factory>

</hibernate-configuration>