<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database Connection -->

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dryfruit_db</property>

		<property name="hibernate.connection.username">postgres</property>

		<property name="hibernate.connection.password">root</property>

		<!-- SQL Dialect -->

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- SQL Output -->

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>

		<!-- Schema Generation -->

		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Entity Classes -->

		<!-- <mapping class="com.tca.entity.Customer"/> <mapping class="com.tca.entity.Product"/> 
			<mapping class="com.tca.entity.Category"/> -->

	</session-factory>

</hibernate-configuration>